@font-face {
    font-family: "kells";
    src: url('../rsc/kells.ttf') format('truetype');
}

@font-face {
    font-family: "kells";
    src: url('../rsc/kells.eot');
}

@font-face {
    font-family: "kells";
    src: url('../rsc/kells.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: "olden";
    src: url('../rsc/ARABOLIC.ttf') format('truetype');
}

@font-face {
    font-family: "olden";
    src: url('../rsc/old-english.eot') format('embedded-opentype');
}

html {
    margin: 0;
    padding: 0;
}

#content {
    width: 100%;
    font-family: kells;
    color: white;
}

#parchment {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("../rsc/background_stars.jpg");
    background-color: #0b0c28;
    background-repeat: repeat;
    background-size: 100% auto;
}

#title {
    font-size: 3em;
    margin: 0 auto;
    font-family: olden;
    font-weight: 900;
    color: #ffcf2a;
}

#title-presents {
    font-size: 2em;
    margin: 0 auto;
}

#banner-title div {
    width: 100%;
    text-align: center;
}

#banner-title {
    font-family: kells, Arial;
    color: white;
    padding: 0 0 50px 0;
    width: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.love {
    color: #42d9f4;
    display: inline;
}

#price {
    font-size: 1.5em;
    font-family: kells, olden;
    display: inline-block;
}

#price div {
    display: inline;
}

.story-internal {
    top: 0;
    width: 100% auto;
    margin: 0 auto;
    font-size: 1.5em;
    opacity: 1;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    padding: 0;
}

.inline {
    display: inline;
}

.stories {
    position: relative;
    transition: height 1s ease-in;
    padding: 0 0 0 5%;
    margin: 0 5% 0 0;
}

.invisible {
    display: none;
}

.stories .story {
    position: absolute;
    top: 0px;
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
    padding: 0 0 0 5%;
    margin: 0 5% 0 0;
}

div {
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
}

#buttons {
    position: relative;
    margin: 0;
    padding: 0;
}

#buttons .link {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0;
}

b {
    font-weight: bold;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #0B0C27;
}

#date {
    font-size: 2em;
    padding: 0%;
    color: #ffcf2a;
}

.calligraphy {
    font-size: 3em;
}

.capital {
    font-size: 2em;
}

.link {
    margin: 0;
    width: 50%;
    font-family: kells, olden;
    text-align: center;
    padding: 0;
    font-size: 2.5em;
    text-decoration: underline;
}

.hidden {
    opacity: 0;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    z-index: -100;
}

.link:hover {
    cursor: pointer;
}

input {
    font-family: kells;
    font-weight: bold;
    font-size: 1em;
    color: gray;
    background-color: white;
    border: none;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.txtwidth {
    font-family: kells;
    font-weight: bold;
    font-size: 1.5em;
    color: #CB5131;
    background-color: #E6D6B5;
    border: none;
}

select {
    font-family: kells;
    background-color: white;
    font-size: 1em;
    color: gray;
    border: none;
}

.error {
    border: 2px solid #CB5131;
}

#time {
    font-size: 1.2em;
}

img {
    position: static;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

#footer {
    width: 100%;
    margin: 0;
    padding-bottom: 200px;
}

#footer2 {
    position: absolute;
    bottom: 0;
}

#story-initial {
    padding-bottom: 50px
}